{% extends 'AcmeImageBundle::layout.html.twig' %}

{% block title %}Symfony - Task!{% endblock %}

{% block content_header '' %}
{% block content %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<div style="width:400px;float:left">
		<h1> List of presets: </h1> </br>
		{% for preset in presets %}
			<li>
				<input type="radio" name="preset" value="{{preset.id}}">
				{{ preset.name }} ({{preset.mode}}, {{preset.width}}, {{preset.height}}) | 
				<a href="{{ path('update_preset', {'id': preset.id}) }}"> update! </a> | 
				<a href="{{ path('destroy_preset', {'id': preset.id}) }}"> destroy! </a>
				</br>
			</li>
		{% endfor %}

		</br>
		<a href={{ path('new_preset') }}>Create preset</a>
	</div>
	
	
	<div style="width:400px;float:left">
		<h1> List of ogirinal images: </h1> </br>
		{% for origin in origins %}
				<ul>
					<li>
						<input type="radio" name="origin" value="{{origin}}">
					<a href="../images/origins/{{origin}}">{{origin}}</a>  
					</li>
				</ul>
		{% endfor %}
		<button class="ajax">Apply preset!</button>
	</div>
	
	
<script>
	function aButtonPressed(){
		$.post('{{path('ajax_update_mydata')}}',               
					{preset: $("input[name='preset']:checked").val(), image: $("input[name='origin']:checked").val()}, 
				function(response){
						if(response.code == 100 && response.success){
							alert('Image successfully resampled');
						}

		}, "json");    
	}

	$(document).ready(function() {     
	  $('.ajax').on('click', function(){aButtonPressed();});
	});	
</script>

{% endblock %}


