{% extends 'AcmeImageBundle::layout.html.twig' %}

{% block title %}Symfony - Task!{% endblock %}

{% block content_header '' %}
{% block content %}

	<div style="width:400px;float:left">
		<h1> List of presets: </h1> </br>
		{% for preset in presets %}
			<li>
				{{ preset.name }} ({{preset.mode}}, {{preset.width}}, {{preset.height}}) | 
				<a href="{{ path('update_preset', {'id': preset.id}) }}"> update! </a> | 
				<a href="{{ path('destroy_preset', {'id': preset.id}) }}"> destroy! </a>
			</li>
		{% endfor %}
		</br>
		<a href="{{ path('new_preset') }}">Create preset</a>
	</div>
	
	<div style="width:400px;float:left">
		<h1> List of ogirinal images: </h1> </br>
		{% for origin in origins %}
				<ul>
					
					<li>{{origin}}</li>
				</ul>
		{% endfor %}
	</div>
	
	
{% endblock %}


