{% extends 'AcmeImageBundle::layout.html.twig' %}

{% block title %}Symfony - Task!{% endblock %}

{% block content_header '' %}
{% block content %}

	<h1> Preset: {{preset.name}} </h1> </br>
	Mode: {{preset.mode}} </br>
	Width: {{preset.width}} </br>
	Heigth: {{preset.height}} </br>
	Images in folder: {{count}} </br>
	Folder's size: {{size}} bytes </br>
	</br>
	<a href="{{ path('new_preset') }}">Create preset</a>
	</br>
	<a href="{{ path('acme_image_homepage') }}">Presets list</a>

{% endblock %}


